.information {
  padding: 10px 5px;
}

.information > span {
  color: #fff !important;
}

.contact-form label {
  margin: 0 0 5px 45px;
}
.contact-form #contact_form select {
  border: 1px solid #eeeeee;
  margin-bottom: 25px;
  width: 100%;
  padding-left: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: #888888;
  height: 40px;
  outline: none;
}