.upload {
  margin-top: 20px;
}

.uploadedImage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
}

.uploadedImage:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.2);
}

.uploadedImage img {
  max-width: 100px;
  margin-right: 20px;
}

.uploadedImage input {
  width: 100%;
  margin-right: 20px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 10px 10px 10px 20px;
}

.gallery__images {
  width: 100%;
  border: 1px solid #000;
  min-height: 200px;
}

.file_uploads {

}
.file_uploads .items {
  display: flex;
  flex-wrap: wrap;
}
.file_uploads .items .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 21%;
  margin: 5px 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.6);
}
.file_uploads .items .item label {
  display: block;
  width: 100%;
}
.file_uploads .items .item .previews i {
  font-size: 64px;
}
.file_uploads .items .item .btn-danger {
  width: 100%;
}
.file_uploads .previews {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.file_uploads .previews img {
  height: 100px;
  width: 100%;
  object-fit: contain;
}