.inline_block{
	display: inline-block;
}

.table tbody > tr > td, 
.table tbody > tr > th, 
.table tfoot > tr > td, 
.table tfoot > tr > th, 
.table thead > tr > td, 
.table thead > tr > th{
	padding: 8px 25px;
}

.tab-bg-info.panel-heading .nav{
	margin: 0;
}

.panel .panel-heading{
	padding: 0 0;
}

.uploaded_image{
	max-width: 150px;
	width: 100%;
	border-radius: 15px;
}

.uploaded_image_index{
	max-width: 90px;
	width: 100%;
	border-radius: 15px;
}
.td_image{
	text-align: center;
}

.profile-ava, .profile-ava > img{
	width: 30px;
	height: 30px;
}

.profile-widget img{
	object-fit: cover;
}

/**/
.panel-heading .nav > li > a {
	background: #394a59;
}
.table.hover_black tbody tr {
	transition: 0.2s;
}
.table.hover_black tbody tr:nth-child(even){
	background: #f7f7f7;
}
.table.hover_black tbody tr:hover {
	background: #1a2732;
	color: #fff;
}
.form-group.images img{
	width: 75px;
	height: 75px;
	object-fit: contain;
}
.form-group.images .fas{
	font-size: 25px;
	color: #1a2732;
}
.page-header {
	font-size: 24px;
	color: #1a2732;
	margin: 20px 0 0;
}
.d_flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header_block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 15px;
}
.breadcrumb a {
	color: #000;
	cursor: pointer;
}
.header_block .page-header {
	margin: 20px 0 5px 0;
}
.header_block .page-header > i {
	margin: 0 15px 0 0;
}
.btn-add {
	background: #07882a;
	color: #fff;
	border: solid 1px #07882a;
}
.btn-add:hover {
	background: #fff;
	color: #07882a;
}
.btn-back {
	background: #1a2732;
	color: #fff;
	border: solid 1px #1a2732;
}
.btn-back:hover {
	background: #fff;
	color: #1a2732;
}
.event_btn_group .btn-primary {

}
.event_btn_group .btn-danger {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
#search_result .results{
	position: absolute;
	background: #fff;
	min-width: 300px;
	color: #000;
	border: solid 1px #1a2732;
	border-radius: 5px;
	padding: 5px;
}
#search_result p {
	margin: 10px 0 0 0;
	font-size: 16px;
	font-weight: bold;
}
#search_result a.item {
	display: block;
	color: #1a2732;
	font-size: 15px;
	padding: 0 10px;
	transition: 0.3s;
}
#search_result a.item:hover {
	background: #1a2732;
	color: #FFF;
}
header .go_front {
	height: 59px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
header .go_front a {
	color: #fff;
}
header .go_front a i {
	font-size: 16px;
}
.table-min-padding.table tbody > tr > th {
	padding: 5px 5px;
}

.section{
	margin-bottom: 20px;
}



#sidebar{

	overflow-y: scroll;
	width: 200px;
}

li.sub-menu ul {
  padding: 0;
  display: none;
}

li.active.sub-menu ul,
li.sub-menu:hover ul{
   display: block;
}
li.active.sub-menu ul li a,
li.sub-menu:hover ul li a {
	background: #2e3b46;
	color: #fff;
}

.lot-image{
	max-height: 196px;
}

.form-group-europe{
	display: none;
}

.mt-2{
	margin-top: 1rem;
}

#image_tab > .container{
	max-width: 1080px;
}

#image_tab{
	margin-bottom: 20px;
}

.uploadedImage img{
	width: 100px !important;
	height: 66px;
	object-fit: cover;
	margin-right: 20px;
}

.min-max-bets{
	margin-bottom: 10px;
}

.min-max-bets .min_bet{
	padding-right: 10px;
}

#main-content{
	margin-left: 200px;
}

.wrapper{
	padding: 15px 15px 15px 25px;
}