.tp-leftarrow.preview4::after {
  font-family: "FontAwesome";
  content: '\f104';
}

.tp-rightarrow.preview4::after{
  font-family: "FontAwesome";
  content: '\f105';
}

.site-header .main-header .logo{
  position: relative;
  z-index: 21;
}

.phones{
	padding: 10px 5px;
}

.information span,
.phones span a{
	color: #fff;
	font-family: "Montserrat", sans-serif;
	font-size: 11px;
	padding: 0 5px;
}

.phones span a:hover{
	color: #f4c23d;;
}

#sub-header > .container{
	position: relative;
}

.profile-dropdown.active{
	display: block;
	visibility: visible;
}

.profile-dropdown{
	display: none;
	visibility: hidden;
	position: absolute;
	top: 41px;
	right: 86px;
	z-index: 99999;
	background-image: linear-gradient(-45deg, rgb(47, 94, 142) 40%, rgb(51, 102, 153) 40%);
}

.auth .fa{
	margin-left: 5px;
}

nav.main-navigation ul li ul.sub-menu{
	width: 260px;
}

.img-search{
	width: 100%;
	height: 270px;
}

.img-search img{
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.form-general{
	width: 100%;
}

.form-general input,
.form-general button{
	width: 100%;
	border: none;
	background-color: #fff;
	margin-bottom: 5px;
	padding: 11px 5px;
	color: #888888;
	font-size: 13px;
	padding-left: 15px;
}

.form-general button{
	background-color: #f4c23d;
	color: #000;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 11px;
}

.footer_tel a{
	color: #8997a5;
}

.footer_tel a:hover{
	color: #fff;
}

.list-success,
.list-errors{
	padding: 0;
	list-style-type: none;
	font-size: 12px;
}

.list-errors > li:not(:last-child){
	margin-bottom: 5px;
}

.answer .alert.alert-danger,
.answer .alert.alert-success{
	padding-right: 5px;
	padding-left: 5px;
}

.simple-button button{
	display: inline-block;
	border: none;
	background-color: #f4c23d;
	line-height: 40px;
	text-align: center;
	width: 120px;
	height: 40px;
	font-size: 11px;
	font-family: 'Montserrat', sans-serif;
	color: #222222;
	font-weight: 700;
	text-transform: uppercase;
}

#cta-2 .alert-danger{
	max-width: 703px;
	
}

.alert-success-ansewr{
	position: absolute;
}

.webernetic{
	color: #fff;
	text-decoration: underline;
}

.latest-news-post{
	width: 70px;
	height: 52px;
}

.latest-item{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-start;
}

.latest-news-post{
	margin-right: 15px;
}

.slide-image{
	width: 64px !important;
	height: 64px !important;
}

.latest-news-post img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.slide-image img{
	object-fit: cover;
}

.advanced-button{
	width: auto;
}

.advanced-button i{
	margin-left: 10px;
	background-color: transparent;
}

.featured-listing #featured-cars .featured-item img{
	height: 210px;
	object-fit: cover;
}


.featured-listing #featured-cars .featured-item .down-content .car-info ul{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#featured-cars .featured-item .down-content .car-info ul li{
	padding-right: 0;
}

.blog-news .left-video img{
	max-height: 390px;
	object-fit: cover;
}

.slider-thumb .thumb-item .down-content p{
	white-space: normal;
	max-width: 220px;
}

#featured-cars .featured-item .down-content,
.last-auctions .featured-item .down-content{
	min-height: 200px;
	position: relative;
	background-color: #ffffff;
}

.pre-featured .search-result{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	float: left;
	margin-left: 20px;
	margin-top: 25px;
	color: #000;
}
#sidebar .sidebar-content .head-side-bar .searching-title{

	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 700;
	border-left: 4px solid #f4c23d;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 10px;
}

#cta-2 .left-content .subscribe-title{
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 700;
	color: #ffffff;
	float: left;
	margin-right: 60px;
	margin-top: 27px;
}

footer .order-form-title{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: 700;
	margin-bottom: 45px;
	margin-top: 15px;
}

#featured-cars .featured-item .down-content .h2,
.featured-listing #featured-cars .featured-item h2,
.last-auctions .featured-item .down-content .h2{
	font-family: 'Montserrat', sans-serif;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 14px;
	text-transform: uppercase;
	color: #222222;
	font-weight: 700;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 5px !important;

}

.searching-result-page .img-search img{
	width: 100%;
	object-fit: cover;
}

.last-auctions .featured-item .down-content{
	padding: 15px 0;
}

 #featured-cars .featured-item .down-content .car-info{
	position: absolute;
	bottom: 15px;
	width: 100%;
}

.lot-image{
	height: 196px;
}

.lot-image img{
	height: 100%;
	object-fit: cover;
}

.paginate{
	text-align: center;	
}

.listing-grid .pagination{
	width: auto;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
	background-color: #336699;
	border-color: #336699;
}

.overlay-filter.active{
	display: block;
	visibility: visible;
	position: fixed;
	background-color: rgba(255,255,255,0.6);
	width: 100%;
	top: 0;
	left: 0;
	height: 100%;
	z-index: 10000;
}

.overlay-filter{
	display: none;
	visibility: hidden;
}

.prelod-gif.active{
	display: block;
	visibility: visible;
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 100000;
}

.prelod-gif{
	display: none;
	visibility: hidden;
}

.btn-filter-search{
	border: none;
	background-color: #f0b20e;
	width: 100%;
	padding: 0;
	color: #000;
	font-weight: bold;
	text-transform: uppercase;
}

#sidebar .sidebar-content .search-form .select::after{
	content: '\f0dd';
	font-family: "Font Awesome 5 Free";
	font-weight: 700;
}

#sidebar .sidebar-content .search-form .select{
	margin-bottom: 20px;
}

#sidebar .sidebar-content .search-form .select #types{
	margin-bottom: 0;
}

.form-not-founded{
	text-align: center;
}
.form-not-founded{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.form-not-founded p{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-bottom: 0;
	color: #000;
	font-weight: bold;
	font-size: 16px;
	line-height: 32px;
}

.form-not-founded span{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	line-height: 22px;
	color: #888888;
}

.form-not-founded .field-checkbox{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row-reverse;
	-moz-flex-direction: row-reverse;
	-ms-flex-direction: row-reverse;
	-o-flex-direction: row-reverse;
	flex-direction: row-reverse;
	-ms-align-items: center;
	align-items: center;
	justify-content: flex-end;
}

form.form-result-searching .fields{
	margin-top: 30px;
	margin-bottom: 20px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
}

form.form-result-searching .fields input{
	width: 100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-right: 5px;
	padding: 5px 10px;
}

form.form-result-searching .fields button{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	border: none;
	background-color: #f4c23d;
	color: #000;
	font-weight: bold;
	padding: 5px 10px;
}

form.form-result-searching .field-checkbox input[type="checkbox"]{
	margin-top: 0;
	margin-right: 10px;
}
form.form-result-searching .field-checkbox label{
	margin-bottom: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: italic;
}

.site-header .main-header .logo{
	max-width: 200px;
}

.site-header .main-header .logo img{
	width: 100%;
}

.auction-categories{
	position: relative;
	width: 100%;
}

.auction-categories ul{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.auction-categories ul li{
	display: none;
	padding: 0 16px 16px 0;
	color: #000;
	font-weight: bold;
	font-size: 11px;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.auction-categories ul li a:hover,
.auction-categories .more:hover{
	color: #f4c23d;
}

.auction-categories ul li:nth-child(-n+4){
	display: block;
}

.auction-categories .more{
	position: absolute;
	right: 0;
	top: 0;
	font-size: 11px;
	text-transform: uppercase;
	text-decoration: underline;
	font-weight: bold;
}

.auction-categories #back-button{
	color: #000;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #f4c23d;
	padding: 5px 10px;
}

.go-to-back{
	margin-bottom: 10px;
}

.checkbox-label{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: flex-start;
}

.checkbox-label{

	padding-bottom: 20px;
}

.checkbox-label label, .checkbox-label input{
	margin: 0;
}

.checkbox-label label{
	padding-right: 10px;
	color: #fff;
	text-transform: uppercase;
	font-weight: normal;
}

.checkbox-label input{
	border-color: #fff;
}

.img-buy-one-click{
	width: 270px;
	height: 170px;
	object-fit: cover;
}

.title-buy-one-click{
	text-align: center;
	margin-top: 30px;
	color: #000;
	text-transform: uppercase;
	font-weight: bold;
}

#sidebar .video-post .video-holder{
	margin-top: 5px;
}

.flex-direction-nav a::before{
	font-family: "Font Awesome 5 Free";
}

.slider-thumb .thumb-item .down-content img{
	object-fit: cover;
}

#page-heading{
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
}

#page-heading .line{
	background-color: transparent;
}

#page-heading span{
	padding: 0;
}

#page-heading span p{
	text-align: left;
	max-width: 450px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	color: #fff;
	margin-bottom: 41px;
}

#page-heading h1{
	text-align: left;
}

#page-heading ul{
	background-color: #fff;
}

body #page-heading ul li a{
	color: #000 !important;
}

body #page-heading ul li:last-child a{
	color: #f4c23d !important;
}

#page-heading .page-active ul li i{
	color: #000 !important;
	font-size: 5px;
	text-align: center;
	vertical-align: middle;
}

div.btn{
	display: block;
	margin-bottom: 100px;
	padding: 0;
	text-align: left;
}

div.btn a{
	color: #333;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	line-height: 13px;
	text-transform: uppercase;
	padding: 12px 79px;
	background-color: #F5C142;
}

.seller-page-template h1,
.seller-page-template h2,
.seller-template h1,
.seller-template h2{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 800;
	font-size: 20px;
	line-height: 24px;
	text-transform: uppercase;
	color: #222222;
}


.grids{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: flex-start;
	align-items: flex-start;
	justify-content: space-between;
}

.grids .col-6{
	flex: 0 0 50%;
	max-width: 50%;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 50%;
	padding-left: 10px;
	padding-right: 10px;
}

.grids .col-6 p,
.seller-page-template p{
	color: #333;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
	text-align: justify;
}

.seller-page-template .images{
	margin-top: 48px;
}

.seller-page-template .images + .row{

}

.seller-page-template .images > div{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
}

.seller-page-template .images > div img{
	margin-bottom: 48px;
}
.seller-page-template ul{
	list-style-type: none;
	margin: 16px 0;
}

.seller-page-template ul li{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 30px;

}

.seller-page-template .row .form{
	margin-top: 32px;
}

.grids-row-form{
	margin-top: 80px;
	background-color: #F5FAFE;
	padding: 72px 0;
	text-align: center;
}

.grids-row-form .alert-danger,
.grids-row-form .alert-success{
	text-align: left;
}

.grids-row-form button[type="submit"]{
	margin-top: 20px;
}

.grids-row-form .form-grid-center{
	text-align: center;
}

.seller-page-template form select,
form.purchase-form input,
form.purchase-form textarea,
.seller-page-template form input,
.seller-page-template .row .form input,
.grids-row-form input{
	width: 352px;
	padding: 5px 10px;
	margin-right: 40px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
	color: #000;
	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	border-radius: 4px;
}

.block_select, .block_radio{
	display: inline-block;
}



.seller-page-template form select{
	margin: 0;
}

form.purchase-form label{
	display: inline-block;
}
.seller-page-template form label[for="defect"],
.seller-page-template form label[for="defect"],
.seller-page-template form input[name="defect"],
.seller-page-template form input[name="credit"]{
	display: inline-block;
}

.seller-page-template form select,
.grids-row-form input[name="city"],
.grids-row-form input[name="district"]{
	width: 164px;
}

.grids-row-form input[name="city"]{
	margin-right: 20px;
}

form.purchase-form [type="submit"],
.seller-page-template form [type="submit"],
.seller-page-template .row .form [type="submit"],
.grids-row-form [type="submit"]{
	background-color: #F5C142;
	border: none;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 11px;
	line-height: 22px;
	color: #000;
	text-transform: uppercase;
	padding: 8px 95.5px;
}

.seller-page-template form select{
	color: #333;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 22px;
	opacity: 0.5;
}

form.purchase-form{
	margin-top: 20px;
}

form.purchase-form label[for="car_brand"]{
	margin-right: 0;
}

form.purchase-form span,
.seller-page-template form span,
.seller-page-template .row .form span,
form.purchase-form input::placeholder,
.grids-row-form span{
	text-align: left;
	display: block;
	color: #333;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 22px;
	opacity: 0.5;
}

.cars-list{
	width: 27%;
	float: left;
}

.last-auctions .featured-item img{
	height: 210px;
	object-fit: cover;
	width: 100%;
}

.last-auctions .featured-item .col-md-15{
	padding-left: 15px;
	padding-right: 15px;
}

#featured-cars .featured-item .down-content a h2{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#featured-cars .featured-item .down-content a h2,
#featured-cars .featured-item .down-content span,
.last-auctions .featured-item .featured-item .down-content span,
.last-auctions .featured-item .featured-item .down-content a h2{
	display: block !important;
	width: 100% !important;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#featured-cars .featured-item .down-content span,
.last-auctions .featured-item .featured-item .down-content span{
	margin-right: 0 !important;
	margin-top: 0 !important;
	margin-bottom: 5px;
}

#featured-cars .featured-item .down-content a h2,
.last-auctions .featured-item .featured-item .down-content a h2{
	height: 40px;
}

.last-auctions .featured-item .down-content a h2{
	padding: 5px 0 20px 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 14px;
	text-transform: uppercase;
	color: #222222;
	font-weight: 700;
}
.last-auctions .featured-item .down-content span{
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	line-height: 36px;
	padding: 0px 12px;
	float: right;
	background-color: #f4c23d;
	font-size: 13px;
	text-transform: uppercase;
	color: #222222;
	font-weight: 700;
	width: 100%;
	margin-bottom: 10px;
}

.cars-list .featured-item .down-content p{
	margin-top: 10px;
	margin-bottom: 30px;
}

.last-auctions .featured-item .down-content .car-info{
	border-bottom: 2px solid #eeeeee;
	border-top: 2px solid #eeeeee;
	position: absolute;
	width: 100%;
}

.last-auctions .featured-item .down-content .car-info ul{
	list-style-type: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 0 15px;
	margin: 0;
}

.last-auctions .featured-item .down-content .car-info ul li{
	padding: 5px 0;
	position: relative;
	padding-right: 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.last-auctions .featured-item .down-content .car-info ul li i{
	padding-right: 10px;
}

.last-auctions .featured-item .down-content .car-info ul li:not(:last-child):after{
	position: absolute;
	content: '';
	width: 2px;
	height: 100%;
	background-color: rgba(0,0,0,0.2);
	top: 0;
	right: 0;
	bottom: 0;
}

.form-person{
	max-width: 788px;
	margin:auto;
	padding: 72px 0;
}
.block_with_form{
	background-color: #F5FAFE;

}

.block_with_form [type="submit"]{
	margin-top: 20px;

}

label[for="defect"] > span,
label[for="credit"] > span{
	font-size: 12px;
	display: inline;
}

label[for="car_brand"]{
	margin-right: 20px;
}

label[for="car_model"],
label[for="defect"] input{
	margin-right: 40px;
}

label[for="credit"] input{
	margin: 0;
}

label[for="defect"] input,
label[for="credit"] input{
	display: inline;
	width: auto;
}

.auction-single .page-active{
	margin-top: 150px;
}

.auction-single .page-active .breadcrumb{
	background-color: transparent;
}

.auction-single .page-active .breadcrumb li{
	margin-right: 1px;
}

.auction-single .page-active .breadcrumb li a{
	font-size: 14px;
}

.auction-single .page-active .breadcrumb li:before{
	content: '';
}

.auction-single .page-active .breadcrumb i{
	font-size: 10px;
}

section.car-details{
	padding-top: 0;
}

.car-details .flexslider{
	margin-top: 0;
}

.main-image img{
	width: 100%;
	object-fit: cover;
}

.tumbnails-list{
	margin-top: 30px;
}

.tumbnails-list .thumb-item{
	max-width: 100px;
}

.tumbnails-list .thumb-item img{
	width: 100%;
	object-fit: cover;
	padding-right: 10px;
}

.flexslider ul li{
	height: 350px;
}

.flexslider ul li img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.flex-direction-nav{
	display: none;
	visibility: hidden;
}

.flexslider ol{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.flexslider ol li{
	width: 80px;
	height: 50px;
}

.flexslider ol li img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#left-info .details{
	background-color: transparent;
	margin-left: 16px;
}

#left-info .details button{
	background-color: #f4c23d;
	border: none;
	font-size: 11px;
	line-height: 22px;
	color: #000;
	text-transform: uppercase;
	font-weight: bold;
	padding: 8px 42.5px;
}

#left-info .details [name="bet"]{
	padding-right: 0;
	border: 1px solid rgba(51,51,51,0.3);
	border-right-color: #f4c23d;
	padding: 7px 5px;
	font-weight: 500;
	font-size: 14px;
	line-height: 22px;
	min-width: 231px;
}

form.bet-form{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: flex-end;
}

#left-info .details .head-side-bar{
	background-color: transparent;
	padding-top: 0;
	padding-bottom: 0;
}

#left-info .details .head-side-bar{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: flex-start;
}

#left-info .details .head-side-bar h4{
	color: #000;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 22px;
	border-left: none;
	margin-right: 16px;
	margin-left: 0;
	padding-left: 0;
}


.location-lot,
.lot-bet,
.sprint,
.buy-one-click,
.information-lot{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
}

.location-lot span,
.lot-bet span,
.sprint span,
.buy-one-click span,
.information-lot span{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
}

.location-lot{
	margin-bottom: 40px;
}

.sprint{
	margin-top: 40px;
	margin-bottom: 40px;
}

.information-lot{
	margin-top: 30px;
	margin-bottom: 30px;
}

.sprint .timer{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.sprint .timer .block{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}

ul.countdown {
list-style: none;
margin: 0;
padding: 0;
display: block;
text-align: center;
}
ul.countdown li {
display: inline-block;
}
ul.countdown li span {
font-size: 26px;
font-weight: 900;
line-height: 26px;
color: #000;
}
ul.countdown li.seperator {
font-size: 26px;
line-height: 26px;
vertical-align: top;
color: #000;
font-weight: bold;
}
ul.countdown li p {
color: #000;
font-size: 11px;
line-height: 13px;
margin: 0;
}

a:hover {
text-decoration: underline;
}
.source {
width: 405px;
margin: 0 auto;
background: #4f5861;
color: #a7abb1;
font-weight: bold;
display: block;
white-space: pre;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}
.btn {
background: #f56c4c;
margin: 40px auto;
padding: 12px;
display: block;
width: 100px;
color: white;
text-align: center;
text-transform: uppercase;
font-weight: bold;
text-decoration: none;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
}
.btn:hover {
text-decoration: none;
opacity: .7;
}

.offers a{
	color: #000;
	text-decoration: underline;
}

.offers a:hover{
	color: #000;
}

.car-details .tabs li.active a, .car-details .tabs li.active a:hover{
	border-bottom: none;
}

.car-details .tabs .tab-links li{
	min-width: 135px;
	height: 90px;
	text-align: center;
	padding: 20px;
}

.car-details .tabs li:hover{
	cursor: pointer;
}

.car-details .tabs li.active, .car-details .tabs li:hover{
	background-color: #0063AE;
}

.car-details .tabs .tab-links{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
	width: 41.66666666666667%;
	border-bottom: none;
	margin-bottom: 48px;
}

.car-details .tabs .tab-links li{
	margin: 0;
}

#featured-cars .featured-item .down-content a:hover, .last-auctions .featured-item .down-content a:hover{
	text-decoration: none;
}

ul.general-attrs{
	padding-left: 0;
	list-style-type: none;
	display: block;
	width: auto;
	margin-right: 90px;
	/*min-width: 200px;*/
}

.car-details ul.general-attrs li{
	padding: 0;
	text-align: left;
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;

}

.car-details ul.general-attrs li:hover{
	background-color: transparent;
	cursor: default;
}

.main-attributes, .additional-attributes{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: flex-start;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}

.main-attributes_block, .additional-attributes_block{
	-webkit-flex: 1 1 25%;
	flex: 1 1 25%;
}

.additional-attributes span.title,
.main-attributes span.title{
	margin-bottom: 8px;
	font-family: Montserrat, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 14px;
	line-height: 17px;
}

.tab-block{
	position: relative;
}

.tab-block .loader.active, .tab-block .loader > img.active{
	display: block;
	visibility: visible;
	z-index: 100;
}

.tab-block .loader{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.5);
	display: none;
	visibility: hidden;
	z-index: -100;
}

.tab-block .loader > img{
	display: none;
	visibility: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: -100;
}


.lot-thumbnail{
	/*width: 16.666666666666664%;*/
	height: 86px;
	margin-bottom: 30px;
}

.lot-thumbnail img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#container-description{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: flex-start;
	align-items: flex-start;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 100%;
}

#container-description > *{
	-webkit-flex-grow: 1;
	flex-grow: 1;
	-webkit-flex-shrink: 2; 
	flex-shrink: 2;
	-webkit-flex-basis: 50%; 
	flex-basis: 50%;
	text-align: justify;
	padding: 10px;
}

.title-lot-descr span{	
	font-family: Montserrat, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 13px;
	line-height: 16px;
	text-transform: uppercase;
}

.lot-bet span.min-bet{
	font-size: 12px;
	display: block;
	font-style: italic;
}

#left-info .details button.reload-bet{
	background-color: #0063AE;
	color: #fff;
	padding: 5px 20px;
	font-size: 10px;
}

#left-info .details img.reload-gif{
	width: 32px;
	margin: 0 auto;
	 display: none; 
	 visibility: hidden;
}

#left-info .details img.reload-gif.active{
	display: block;
	visibility: visible;
}

ul.alert-danger,
.max-bet ul.alert.alert-success,
.max-bet ul.alert.alert-danger{
	list-style-type: none;
	margin-bottom: 0;
}

form.purchase-form ul.alert-danger{
	text-align: left;
}

.count-favorite{
	position: absolute;
	top: 3px;
	right: 0;
	background-color: #f4c23d;
	width: 20px;
	height: 20px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}

.profile-dropdown{
	max-width: 150px;
}

.profile-dropdown li{
	border-right: none !important;
}

.fav{
	position: relative;
}

.slide_im{
	width: 64px;
	height: 64px;
	float: right;
}

.slider-thumb .thumb-item .down-content .slide_im img{
	width: 100% !important;
	height: 100% !important;
	object-fit: cover;
}

.listing-grid .featured-item .down-content .car-info ul{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

section[class*='single-page-'] .questions h1,
section[class*='single-page-'] .questions h1,
section[class*='single-page-'] .questions h1,
section[class*='single-page-'] .questions h1,
section[class*='single-page-'] .questions h1,
section[class*='single-page-'] .questions h1{
	
	font-family: Montserrat, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 13px;
	line-height: 16px;
	text-transform: uppercase;
	margin-bottom: 16px;
	margin-top: 0;
}

section[class*='single-page-'] .questions ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

section[class*='single-page-'] .questions ul li{
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 32px;
	position: relative;
	width: 100%;
}

section[class*='single-page-'] .questions ul li:after{
	position: absolute;
	content: '\f105';
	font-family: 'Font Awesome 5 Free';
	top: 0;
	right: 0;
}
section[class*='single-page-'] .questions ul li a{
	color: #333333;

}

section[class*='single-page-'] .questions ul li a:hover{
	color: #336699;
	text-decoration: none;
}

section[class*='single-page-'] .answer-block{
	padding-bottom: 32px;
}

section[class*='single-page-'] .answer-block span{
	font-family: Montserrat, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 13px;
	line-height: 16px;
	text-transform: uppercase;
	display: block;
	margin-bottom: 24px;
}

section[class*='single-page-'] .answer-block p{
	color: #333333;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
}

section[class*='single-page-'] .answer-block p a{
	color: #336699;
	text-decoration: none;
	font-weight: 900;
}

.posts-template-blogs .blog-item img{
	max-height: 130px;
	object-fit: cover;
}

#side-bar .latest-posts .latest-item img.thumb__news{
	max-width: 80px;
}

.go_comment{
	border: none;
	background-color: transparent;
}

.alert-success_comment ul,
.alert-danger_comment ul{
	list-style-type: none;
	padding: 0;
}

.advanced-button{
	background-color: transparent;
}

.advanced-button .go_comment{
	background-color: #f0b20e;
}

.lot-finish{
	width: 100%;
	text-align: center;	
}

.lot-finish_text{
	display: inline-block;
	border: 2px solid rgb(253, 126, 21);
	margin-top: 20px;
	position: relative;
	overflow: hidden;
}

.lot-finish_text p{
	padding: 20px;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 16px;
}

.lot-finish_text:before{
	content:"";
	display:block;
	position:absolute;
	left:0;top:50%;
	color:red;
	width:100%;
	height:0;
	border-bottom:2px solid rgb(253, 126, 21);
	transform:rotate(-10deg);
	
}

.lot-finish p{
	color: #000;
	font-size: 18px;
}

.lot-finish .lock .closest{
	background-color: #495057;
	padding:20px;
	margin-top: 20px;
	border-radius: 20px;
}

.lot-finish .lock .closest .fas{
	color: #fff !important;
	font-size: 50px;
}

.single-blog-profile{
	padding-top: 150px;
}

.image_steps{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
}

.image_steps .radio{
	text-align: center;
	position: relative;
}

.image_steps .radio img{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

nav.main-navigation ul li ul.sub-menu{
	padding: 0 22px;
}

nav.main-navigation ul li ul.sub-menu li a{
	padding: 5px 0;
}
section.select-persone{
	padding-bottom: 0;
}
section.select-persone,
section.profile-images,
section.profiles-info{
	padding-top: 0;
}


section #contact_form input[type="radio"] {
	display:none !important;            
}

section #contact_form input[type="radio"] + label[for="yur_per"]{
	margin-left: 0;
	padding-left: 0;
}
section #contact_form input[type="radio"] + label {
	display:inline;
	font-size: 18px;
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
	color: #000;
}

section #contact_form input[type="radio"] + label:before {
	content: '';
	display:inline-block;
	width: 22px;
	height: 22px;
	background: url(../img/non_checked.png) no-repeat;
	vertical-align: middle;
	
}

section #contact_form input[type="radio"]:checked + label:before {
	content: '';
	background: url(../img/checked.png) no-repeat;
}

section.profiles-info .contact-form label:not(.for_radio){
	margin-left: 0;
	color: #333333;
	opacity: .5;
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 22px;
}

section.profiles-info .contact-form #contact_form input:not([type="radio"]){
	padding-left: 8px;
	color: #000;
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}

section.profiles-info .contact-form #contact_form input:not([type="radio"]):focus{
	border: 1px solid #359933;
	background: rgba(53, 153, 51, 0.3);
}

section.profiles-info .contact-form #contact_form .error-field input{
	background: rgba(153, 51, 51, 0.3);
	border: 1px solid #993333;
}

.image_steps{
	max-width: 700px;
	margin: 0 auto;
}

.contact-form .advanced-button{
	background-color: #f0b20e;
}

.contact-form .advanced-button button{
	border: none;
	background-color: transparent;
}

.contact-form .advanced-button button:hover{
	text-decoration: none;
}

section.container-errors{
	padding: 0;
}

section.container-errors ul{
	list-style-type: none;
}

.upload_datas{
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	color: #000;
	margin-bottom: 24px;
}

.user__images{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: flex-start;
}

.user__images .item{
	max-width: 126px;
	margin-right: 45px;
	background: #F2F2F2;
	border: 1px solid rgba(0, 0, 0, 0.5);
}

.user__images .item img{
	width: 100%;
	height: 115px;
	object-fit: cover;
}

.dropzone{
	background: #F2F2F2;
	border: 3px dashed rgba(0, 0, 0, 0.5);
}

.dropzone.dz-clickable .dz-message, .dropzone.dz-clickable .dz-message *{
	font-family: Montserrat, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 36px;
	line-height: 44px;
	text-align: center;
	color: #333;
	opacity: .5;
}

.dropzone .dz-message{
	margin: 1em 0;

}

.confirm-registration{
	margin-top: 20px;
}

#confirm-registration-btn{
	background-color: #F5C142;
	border: none;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 11px;
	line-height: 22px;
	color: #000;
	padding: 8px 63px;
	text-transform: uppercase;
	display: none;
	visibility: hidden;
}

.btn.btn-route{
	width: auto;
	background-color: #096d41;
}

.tp-leftarrow.preview4::after{
	content: '\1F844';

}

.tp-rightarrow.preview4::after{
	content: '\1F846';
}

.vin-table{
	width: 100%;
	max-width: 800px;
}

.vin-panel{
	display: flex;
}

.calc-inputs_datas{
	display: flex;
	flex-wrap: wrap;
}

.vin-input,
select.vin-form-width-small {
	width: 350px;
	margin-right: 40px;
	margin-bottom: 20px;
	padding: 8px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 22px;
}

.calc-inputs_datas th {
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 22px;
	color: #333333;
	opacity: .5;
}

label[for="calc_discount"] {
	margin-bottom: 20px;
	padding: 8px;
}

.calc-inputs_datas tr {
	display: flex;
	flex-direction: column;
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 22px;
}

#calc_btn {
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 11px;
	line-height: 22px;
	background: #F5C142;
	border: none;
	text-transform: uppercase;
	padding: 8px 63px;
	margin-top: 20px;
}

.calc_res #calc_tax_txt {
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	color: #ffffff;
	margin-right: 20px;
	
}
.calc_res td span font,
.calc_res td span {
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	color: #ffffff;
}

.description-calcuator{
	max-width: 800px;
}

.title_calc {
	font-family: Montserrat, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 20px;
	line-height: 24px;
	text-transform: uppercase;
	color: #222222;
	margin-bottom: 24px;
	display: block;
}

.title_calc_small {
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 13px;
	line-height: 15px;
	text-transform: uppercase;
	color: #000000;
	margin-top: -20px;
	margin-bottom: 24px;
	display:block;
}

.text_calc {
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
	color: #333333;
}

table[cellpadding="1"] {
	padding: 5px 10px;
}

.table-pricing {
	overflow-x: scroll;
	white-space: nowrap;
}

.table-pricing > table tr td table tbody tr td {
	border-bottom-color: #000 !important;
}

.calc_res {
	background: #2F5E8E;
}

.calc_res td{
	padding: 27px 8px;
}

#check_by_vin {
	font-family: Roboto,sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 11px;
	line-height: 22px;
	background: #f5c142;
	border: none;
	text-transform: uppercase;
	padding: 8px 63px;
	margin-top: 20px;
}

input[name="check"] {
	width: 350px;
	margin-right: 40px;
	margin-bottom: 20px;
	padding: 8px;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 4px;
	font-family: Roboto,sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 22px;
}

#result-check-vin .answer-success {
	background: #2f5e8e;
	padding: 10px;
	color: #fff;
	font-family: Roboto,sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
}

#result-check-vin .answer-success span{
	margin-bottom: 8px;
	width: 100%;
	display: inline-block;
}

#seo-info{
	padding-top: 0;
}

.why-us{
	padding-bottom: 0;
}

.info-title__head {
	font-family: 'Montserrat', sans-serif;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 14px;
	text-transform: uppercase;
	color: #222222;
	font-weight: 700;
}

.slider-thumb .thumb-item .top-content h2,#sidebar .video-post .video-holder .video-content h4{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.tp-caption a:hover h2{
	text-decoration: none;
}

.ptitle{
	font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    display: block;
		margin-bottom: 24px;
		color: #000;
}

.main-lot-title{
	font-size: 18px;
	color: #000;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 22px;
	border-left: none;
	margin-right: 16px;
	margin-left: 0;
	padding-left: 0;
}

.news-title{
	font-family: 'Montserrat', sans-serif;
	margin-top: 6px;
	margin-bottom: 5px;
	font-size: 14px;
	text-transform: uppercase;
	color: #222222;
	font-weight: 700;
}

footer .featured-links ul{
	vertical-align: text-top;
}

#current_lot_price{
	display: block;
}

@media screen and ( max-width: 1199px ) {
	.seller-page-template img{
		max-height: 230px;
		padding-right: 5px;
	}

	.phones span:last-child{
		display: none;
		visibility: hidden;
	}

}

@media screen and ( max-width: 767px ) {
	.lot-thumbnail{
		height: 200px;
	}
}

@media screen and ( max-width: 674px) {
	.vin-panel{
		flex-direction: column;
	}

	.calc_res{
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.vin-input, select.vin-form-width-small{
		margin-right: 0;
		
	}

	.searching-result-title{
		font-size: 20px !important;
		margin-top: -100px !important;
	}
}

@media screen and ( max-width: 470px ) {
	#container-description > *{
		-webkit-flex-grow: 1;
		flex-grow: 1;
		-webkit-flex-shrink: 1; 
		flex-shrink: 1;
		-webkit-flex-basis: 100%; 
		flex-basis: 100%;
		text-align: justify;
		padding: 10px;
	}
}

@media screen and ( max-width: 465px ) {
	.lot-thumbnail{
		height: 100px;
	}
}

.favorite-btn > img{
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	-webkit-transition: transform 250ms ease;
	-o-transition: transform 250ms ease;
	transition: transform 250ms ease;
}

.information{padding:10px 5px}.information>span{color:#fff!important}

@media screen and ( max-width: 1199px ) {
	.last-auctions .featured-item .down-content a h2{
		text-align: center;
	}

	.last-auctions .featured-item .down-content .car-info ul li i{
		padding-right: 5px;
	}

	.last-auctions .featured-item .down-content .car-info ul li{
		font-size: 12px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

@media screen and ( max-width: 991px ) {
	.car-info ul{
		justify-content: space-between;		
	}

	.flexslider ol {
		justify-content: space-between;
		margin-top: 10px;
	}

	.auction-single .page-active .breadcrumb {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

@media screen and (max-width: 652px) {
	.lot-bet {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}

	.lot-bet .current-bet {
		margin-bottom: 20px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	.max-bet{
		width: 100%;
	}

	#left-info .details [name="bet"]{
		width: calc(100% - 184.19px);
	}

	#left-info .details img.reload-gif{
		margin: 0;
	}

	.sprint {
		-webkit-flex-direction: column-reverse;
		-moz-flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
		-o-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}

	.sprint .start-bets{
		order: 2;
	}

	.sprint .finish-bets {
		order: 1;
	}

	.buy-one-click, .information-lot {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}

	.car-details .tabs .tab-links{
		width: 100%;
	}

	#left-info .details button.reload-bet{
		max-width: 160px;
	}
}

@media screen and ( max-width: 619px ) {
	.grids{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
}

@media screen and ( max-width: 522px ) {
	.lot-bet .current-bet, form.bet-form {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		align-items: center;
	}

	#left-info .details [name="bet"] {
		border-right-color: rgba(51,51,51,0.3);
	}

	#left-info .details button, #left-info .details button.reload-bet, #left-info .details [name="bet"], #left-info .form-buy-one-click button {
		min-width: 100%;
	}

	.form-buy-one-click{
		width: 100%;
	}

	#left-info .details .head-side-bar h4{
		font-size: 18px;
	}
}

@media screen and ( max-width: 474px ) {
	.site-header .main-header .logo{
		max-width: 120px;
		line-height: 90px;
		max-height: 90px;
	}
}

@media screen and ( max-width: 462px ) {
	.flexslider ul > li{
		height: auto;
	}
}

@media screen and ( max-width: 432px ){
	.car-details .tabs .tab-links li{
		min-width: 100px;
		position: relative;
	}

	.car-details .tabs .tab-links li img{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

} 

@media screen and ( max-width: 421px ) {
	.seller-page-template form select, .grids-row-form input[name="city"], .grids-row-form input[name="district"]{
		width: 100%;
	}

	.grids-row-form label[for="city"],
	.grids-row-form label[for="district"]{
		width: 100%;
	}

	.seller-page-template form select, form.purchase-form input, form.purchase-form textarea, .seller-page-template form input, .seller-page-template .row .form input, .grids-row-form input{
		margin-right: 0;
		width: 100%;
	}

	.form-grid-center label{
		display: block;
	}
}

@media screen and ( max-width: 389px ) {
	form label{
		width: 100%;
	}

	.seller-page-template form select, form.purchase-form input, form.purchase-form textarea, .seller-page-template form input, .seller-page-template .row .form input, .grids-row-form input{
		width: 100%;
	}

	.seller-page-template form label[for="defect"],
	.seller-page-template form label[for="credit"]{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
		justify-content: flex-start;
	}

	label[for="defect"] > span, label[for="credit"] > span{
		width: 100%;
	}
}

@media screen and ( max-width: 372px ) {
	.vin-input, select.vin-form-width-small{
		width: 340px;
	}

	.car-details .tabs .tab-links li img{
		max-width: 90px;
	}
}

@media screen and ( max-width: 342px ) {
	.calc_res td span font, .calc_res td span{
		font-size: 14px;
	}

	.calc-inputs_res{
		width: 100%;
	}

	#calc_btn {
		width: 100%;
	}
}

@media screen and ( max-width: 352px ) {
	.vin-input, select.vin-form-width-small {
		width: 310px;
	}
}

@media screen and ( max-width: 328px ) {
	.vin-input, select.vin-form-width-small {
		width: 300px;
	}
}

@media screen and ( max-width: 320px ) {
	.vin-input, select.vin-form-width-small {
		width: 290px;
	}
}

@media screen and ( min-width: 1200px ) {
	#cta-2 .alert-success{
		max-width: 94%;
	}
}

@media screen and ( min-width: 1199px ) {
	.featured-listing #featured-cars .featured-item .down-content .car-info ul,
	.listing-grid .featured-item .down-content .car-info ul{
		justify-content: center;
	}
	
	.featured-listing #featured-cars .featured-item .down-content .car-info ul li,
	.listing-grid .featured-item .down-content .car-info ul li{
		min-width: 50px;
		padding-right: 5px !important;
		text-align: left;
	}
}