.tp-leftarrow.preview4::after {
  font-family: "FontAwesome";
  content: '\f104';
}

.tp-rightarrow.preview4::after{
  font-family: "FontAwesome";
  content: '\f105';
}

.site-header .main-header .logo{
  position: relative;
  z-index: 21;
}