.tp-leftarrow.preview4::after {
  font-family: "FontAwesome";
  content: '\f104';
}

.tp-rightarrow.preview4::after{
  font-family: "FontAwesome";
  content: '\f105';
}

.site-header .main-header .logo{
  position: relative;
  z-index: 21;
}

.phones{
	padding: 10px 5px;
}

.information span,
.phones span a{
	color: #fff;
	font-family: "Montserrat", sans-serif;
	font-size: 11px;
	padding: 0 5px;
}

.phones span a:hover{
	color: #f4c23d;;
}

#sub-header > .container{
	position: relative;
}

.profile-dropdown.active{
	display: block;
	visibility: visible;
}

.profile-dropdown{
	display: none;
	visibility: hidden;
	position: absolute;
	top: 41px;
	right: 86px;
	z-index: 99999;
	background-image: linear-gradient(-45deg, rgb(47, 94, 142) 40%, rgb(51, 102, 153) 40%);
}

.auth .fa{
	margin-left: 5px;
}

nav.main-navigation ul li ul.sub-menu{
	width: 260px;
}

.img-search{
	width: 100%;
	height: 270px;
}

.img-search img{
	object-fit: cover;
	height: 100%;
}

.form-general{
	width: 100%;
}

.form-general input,
.form-general button{
	width: 100%;
	border: none;
	background-color: #fff;
	margin-bottom: 5px;
	padding: 11px 5px;
	color: #888888;
	font-size: 13px;
	padding-left: 15px;
}

.form-general button{
	background-color: #f4c23d;
	color: #000;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 11px;
}

.footer_tel a{
	color: #8997a5;
}

.footer_tel a:hover{
	color: #fff;
}

.list-success,
.list-errors{
	padding: 0;
	list-style-type: none;
	font-size: 12px;
}

.list-errors > li:not(:last-child){
	margin-bottom: 5px;
}

.answer .alert.alert-danger,
.answer .alert.alert-success{
	padding-right: 5px;
	padding-left: 5px;
}

.simple-button button{
	display: inline-block;
	border: none;
	background-color: #f4c23d;
	line-height: 40px;
	text-align: center;
	width: 120px;
	height: 40px;
	font-size: 11px;
	font-family: 'Montserrat', sans-serif;
	color: #222222;
	font-weight: 700;
	text-transform: uppercase;
}

#cta-2 .alert-danger{
	max-width: 703px;
	
}

.alert-success-ansewr{
	position: absolute;
}

.webernetic{
	color: #fff;
	text-decoration: underline;
}

.latest-news-post{
	max-width: 70px;
}

.slide-image{
	width: 64px !important;
	height: 64px !important;
}

.latest-news-post img{
	width: 100%;
	object-fit: cover;
}

.slide-image img{
	object-fit: cover;
}

.advanced-button{
	width: auto;
}

.advanced-button i{
	margin-left: 10px;
}

.featured-listing #featured-cars .featured-item img{
	height: 210px;
	object-fit: cover;
}


.featured-listing #featured-cars .featured-item .down-content .car-info ul{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#featured-cars .featured-item .down-content .car-info ul li{
	padding-right: 0;
}

.blog-news .left-video img{
	max-height: 390px;
	object-fit: cover;
}

.slider-thumb .thumb-item .down-content p{
	white-space: normal;
	max-width: 220px;
}

#featured-cars .featured-item .down-content{
	min-height: 200px;
	position: relative;
}

 #featured-cars .featured-item .down-content .car-info{
	position: absolute;
	bottom: 15px;
	width: 100%;
}

.lot-image{
	height: 196px;
}

.lot-image img{
	max-height: 100%;
	object-fit: cover;
}

.paginate{
	text-align: center;	
}

.listing-grid .pagination{
	width: auto;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
	background-color: #336699;
	border-color: #336699;
}